{% extends '_layouts/cp' %}

{% set crumbs = [
    { label: craft.chatgptIntegration.getPluginName, url: url('chatgpt-integration') },
    { label: "Settings"|t('chatgpt-integration'), url: url('chatgpt-integration/settings') },
] %}

{% set selectedSubnavItem = 'settings' %}

{% set navItems = {
    'settings-heading': { heading: "Settings"|t('chatgpt-integration') },
    'general': { title: "General"|t('chatgpt-integration') },
    'fields': { title: "Fields"|t('chatgpt-integration') },
    'api': { title: "API"|t('chatgpt-integration') },
} %}

{% set activeTab = craft.app.request.getSegment(3) ?? 'general' %}

{% block sidebar %}
    <nav>
        <ul>
            {% for key, element in navItems %}
                {% if element.heading is defined %}
                    <li class="heading">
                        <span>{{ element.heading }}</span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url('chatgpt-integration/settings/'~ key) }}" {{ activeTab == key ? 'class="sel"' }}>{{ element.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
